<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BootcampCompenionApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".QuestsActivity" />
        <activity android:name=".PricewallActivity" />
        <activity android:name=".AuswertungActivity" />
        <activity android:name=".ZeitplanActivity" />
        <activity android:name=".MonoWhiteActivity" />
        <activity android:name=".MonoBlueActivity" />
        <activity android:name=".MonoBlackActivity" />
        <activity android:name=".MonoGreenActivity" />
        <activity android:name=".MonoRedActivity" />

    </application>

</manifest>